@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Tipo de Cuentas</h1>

<h5>El tipo de cuenta se refiere a cómo podemos agrupar cuentas, Ejemplo: Préstamos, tarjetas de creditos, etc.</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="TiposCuentas" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" type="text" id="Nombre" name="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="index">Cancelar</a>
</form>



@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

